* {
    font-family: Arial, serif;
    box-sizing: border-box;
}

header {
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

header p {
    margin: 0;
}

header p.connect-btn a {
    background: linear-gradient(to bottom right, #00a3e8, #00ffd9);
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: rgba(0, 208, 255, 0.5) 0 0 50px;
}